body {
    background: repeat url("img/ripples.png");
}

.header {
    border: 2px solid black;
    border-radius: 10px;
    background-image: radial-gradient(farthest-side at 30px 20px, #fff, #000);
    /*bobackground: content-box radial-gradient(yellow, skyblue);*/
    color: #fcff62;
    position: relative;
}

.btn-back {
    position: absolute;
    top: 40%;
    left: 5px;
}

.btn-toolbar {
    position: absolute;
    top: 5px;
    right: 10px;
}

.btn h5 {
    color: black;
}

.btn p {
    font-size: 0.7rem;
    text-align: justify;
    text-indent: 10px;
    font-weight: 600;
    color: white;
}

.btn-outline-dark.alight,
.btn-success.alight,
.btn-secondary.alight {
    box-shadow: 2px 4px 8px 0 black;
}

.btn-outline-dark:hover,
.btn-link.btn-success:hover,
.btn-secondary:hover {
    transition: all 0.4s ease-in-out;
    /*transform: translateY(-5px);*/
    transform: translate(-5px, -5px);
    box-shadow: 2px 3px 8px 0 yellow;
}

.btn-outline-dark:hover h5,
.btn-secondary details,
.btn-secondary:hover h5,
.btn-success h5 i {
    color: lightyellow;
}

.btn-outline-dark:hover details,
.btn-secondary:hover p,
.btn-secondary:hover details,
.btn-success:hover h5,
.btn-success:hover details,
.btn-success:hover h5 i {
    color: yellow;
}

.btn-success details,
.btn-success h5 {
    color: darkblue;
}

details {
    text-align: left;
    font-size: 0.6rem;
    color: darkblue;
}

.disabled details {
    color:grey;
}

summary {
    font-size: 0.9rem;
}

