
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-lock-open:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-cloud:before { content: '\e808'; } /* '' */
.icon-flash:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-wrench:before { content: '\e80b'; } /* '' */
.icon-zoom-in:before { content: '\e80c'; } /* '' */
.icon-zoom-out:before { content: '\e80d'; } /* '' */
.icon-attention-circled:before { content: '\e80e'; } /* '' */
.icon-down-big:before { content: '\e80f'; } /* '' */
.icon-left-big:before { content: '\e810'; } /* '' */
.icon-right-big:before { content: '\e811'; } /* '' */
.icon-up-big:before { content: '\e812'; } /* '' */
.icon-up-hand:before { content: '\e813'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-thermometer-3:before { content: '\f2c8'; } /* '' */
.icon-thermometer-2:before { content: '\f2c9'; } /* '' */
.icon-thermometer-quarter:before { content: '\f2ca'; } /* '' */
.icon-thermometer-0:before { content: '\f2cb'; } /* '' */