body {
    font-family: monospace;
}

textarea, button, ul {
    margin-top: 3px;
}

span::before {
    content: ":";
}

span {
    font-weight: bold;
}

.success {
    color: darkgreen;
}

.warning {
    color: orange;
}

.info {
    color: darkcyan;
}

.danger {
    color: darkred;
}
